.informationDesign__body{
    background: linear-gradient(160deg, #000 14.16%, rgba(0, 0, 0, 0.85) 100%);
}

.informationDesign__main__container{
    display: flex;
    flex-direction: row;
}

.informationDesign__main__container__textBlock{
    width: 528px;
}