.informationDesign__body {
    background: linear-gradient(160deg, #000 14.16%, rgba(0, 0, 0, 0.85) 100%);
}

.informationDesign__main__container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 0 0 5%;
}

.informationDesign__main__container__textBlock {
    width: 528px;
}
.informationDesign__main__container__textBlock__buttons{
    gap:10px;
    display: flex;
    flex-direction: row;
}


h2{
    color: rgb(170, 74, 74);
}
.popup__content{
    position: absolute;
    transform: translate(-50%, -59%);
    background-color: rgb(57, 55, 55);
    padding: 20px;
    border-radius: 5px;
}
.popupToDelete{
    color: azure;
    font-family: Montserrat;
}