.chair{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 854px;
}

.chair__text{
    
    color: #C3C3C3;
    font-family: Montserrat;
    font-size: 180px;
    position: absolute;
    z-index: 1;
    font-weight: bolder;
}

.chair__img{
    height: 854px;
    z-index: -1;
    position: absolute;
}

@media (max-width: 1200px) {
  .chair__text{
      font-size: 96px;
      animation: textAnimationLower1 0.5s;
  }
  .chair__img{
    height: 800px;
    // width: 720px;
    animation: chairAnimation 0.5s;
}
}

@media (max-width: 800px) {
    .chair__text{
        font-size: 40px;
        animation: textAnimationLower2 0.5s;
    }
    .chair__img{
      height: 700px;
      width: 320px;
      animation: chairAnimation2 0.5s;
  }
  }

  @keyframes textAnimationLower1 {
    0% {
      font-size: 180px;
    }
    100% {
      font-size: 96px;
    }
  }

  @keyframes textAnimationLower2 {
    0% {
      font-size: 96px;
    }
    100% {
      font-size: 40px;
    }
  }

  @keyframes chairAnimation {
    0% {
      height: 854px;
    }
    100% {
      height: 800px;
      width: 720px;
    }
  }

  @keyframes chairAnimation2 {
    0% {
      height: 800px;
    }
    100% {
      height: 700px;
      width: 320px; 
    }
  }