.order-content-intra {
    color: #C3C3C3;
    font-family: Montserrat;
    font-size: 96px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: rgb(21, 21, 21);
    color: white;
}