.textBlocInInformationDesign__block {
    color: #FFF;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 32px;
    
    p{
        text-align: left;
    }

    .textBlocInInformationDesign__block__price {
        text-align: center;
        font-size: 64px;
    }
}