.logInPage__body__button,
.registrationPage__body__form__button {
    color: rgba(255, 255, 255, 0.70);
    font-size: 32px;
    font-family: Montserrat;
    width: 250px;
    height: 74px;
    margin-bottom: 30px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.mainpage__main__container__card__button {
    width: 12.8125rem;
    height: 3rem;
    border: 2px solid #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 3vh;
    background: transparent;
    // border: 1 solid #FFF;
    // width: 25vh;
    // height: 5vh;
    color: #FFF;

}

.forgotPasswordForm__button {
    border: 2px solid white;
    font-size: 32px;
    font-family: Montserrat;
    width: auto;
    height: 74px;
    margin-bottom: 30px;
    background-color: transparent;
    font-weight: bolder;
    color: white;
}

.informationDesign__button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.99);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    border: 2px solid white;
    width: 310px;
    height: 74px;
}

.orderContent__button{
    border: 2px solid white;
    font-size: 32px;
    font-family: Montserrat;
    width: auto;
    height: 74px;
    margin-bottom: 30px;
    background-color: transparent;
    font-weight: bolder;
    color: white;
}