.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.registration{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 860px;
}

.registrationPage__body__formContainer__secondForm,
.registrationPage__body__formContainer__thirdForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.addDesignPage__body__formContainer__container__firstForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
}

.addDesignPage__body__formContainer__secondForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
}

@media (max-width: 740px) {
    .registration{
        width: 400px;
    }

    .registrationPage__body__formContainer__secondForm,
.registrationPage__body__formContainer__thirdForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  }
  
  @media (max-width: 340px) {
    .registration{
        width: 300px;
    }
    .form{
        width: 300px;
    }
  }
